/ {
    remote_dt7: dt7 {
        status = "okay";
        compatible = "rp,dt7-remote";
        uart = <&uart5>;
    };

    remote_vt13: vt13 {
        status = "okay";
        compatible = "rp,vt13-remote";
        uart = <&usart1>;
    };
};
