/* samples/boards/dm_mc02/remote/boards/rm_typec.overlay */
/*
 * Copyright (c) 2026 RobotPilots
 * SPDX-License-Identifier: Apache-2.0
 */

/* This file will automatic applyed when using rm_typec board */

/ {
    remote_dt7: dt7 {
        status = "okay";
        compatible = "rp,dt7-remote";
        uart = <&usart3>;
    };

    remote_vt13: vt13 {
        status = "okay";
        compatible = "rp,vt13-remote";
        uart = <&usart1>;
    };
};
