# Copyright (c) 2026 RobotPilots
# SPDX-License-Identifier: Apache-2.0

config DR16_REMOTE
    bool "DR16 Remote driver"
    default y
    depends on DT_HAS_RP_REMOTE_ENABLED
    help
      Enable support for DJI DR16/DT7 remote controller.
      Requires a device-tree node with compatible = "rp,remote".




